body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #555;
}

.whatsapp-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: white;
    padding: 10px;
}

.whatsapp-logo {
    max-width: 30px;
    margin: 0 10px;
}

.image-banner {
    position: relative;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.nuestros-servicios {
    padding: 20px;
}

.servicios-container {
    display: flex;
    margin-bottom: 20px;
}

.servicios-container.reverse {
    flex-direction: row-reverse; /* Inversa para el segundo bloque */
}

.servicios-imagenes img {
    max-width: 100%;
    height: auto;
}

.servicios-texto {
    padding: 20px;
    flex: 1; /* Toma el espacio restante */
}

.banner-verde {
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Cambia la dirección del flex para móviles */
    }

    .servicios-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }

    .servicios-texto {
        padding: 10px; /* Reduce el padding en móviles */
    }
    
    .banner-image {
        width: 100%; /* Imagen del banner en 100% del ancho */
        height: auto; /* Mantiene la proporción */
    }
}
