* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    line-height: 1.6;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mantiene espacio entre el logo y los links */
    background-color: white;
    padding: 10px 20px;
}

.logo {
    height: 50px; /* Asegúrate de que el tamaño sea apropiado */
    width: auto;
}

nav {
    display: flex; /* Para que los links se alineen en fila */
}

nav a {
    margin: 0 10px; /* Espacio entre los links */
    color: black;
    text-decoration: none;
}

.whatsapp-banner {
    display: flex;
    align-items: center;
    background-color: #25D366;
    padding: 10px;
    color: white;
    font-size: 18px;
}

.whatsapp-logo {
    height: 24px;
    width: 24px;
    margin-left: 5px;
}

.image-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.nuestros-servicios {
    padding: 20px;
    text-align: center;
}

.servicios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-cambia {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos Responsivos */
@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
    }
    .servicios-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .imagen-cambia {
        max-width: 400px;
    }
}
